html {
    background-color: #DFECEF;
}

#header {
    height: 200px;
    background-color: #ffcc5c;
    color: #1b3b56;
    font-family: "Lucida Console";
}

#content {
    min-height: 500px;
    background-color: #FFEEDD;
    width: 50%;
    float: left;
    color: rgba(0,0,0,0.78);
    font-family: Calibri;
}

#sidebar {
    min-height: 500px;
    background-color: #DFECEF;
    width: 50%;
    float: left;
    color: rgba(0,0,0,0.78);
    font-family: Calibri;
}

#footer {
    height: 200px;
    background-color: #ffcc5c;
    color: rgba(199,197,155,0.39);
    font-family: "Lucida Console";
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
* html .row { height: 1%; }
.row { display: block; }