<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" type="text/css" href="/style/enter_style.css">

    <!--<script scr="/enter.js"></script>-->
</head>
<body>

<script>
    function agree(id) {

        var box = document.getElementById(id);
        var dov = document.getElementById(id + "a");
        var ned = document.getElementById(id + "b");

        if(box.checked) {
            dov.disabled = 0;
            ned.disabled = 0;
        } else {
            dov.disabled = 1;
            ned.disabled = 1;
        }
    }
</script>

<div id ="wrapper">
    <div id="header">
        <h1 align="center">Добавление информации</h1>
    </div>

    <div class="row">
    <div id="content">

        <form method="post">
            Удалить запись:
            <input type="text" name="dia" placeholder="id">
            <button type="submit">Удалить</button>
        </form>

        <table border="1">
            <h2>Диагнозы:</h2>
            {{#diagnoses}}
            <tr>
                <td><b>{{id}}</b></td>
                <td><span>{{diagnose}}</span></td>
            </tr>
            {{/diagnoses}}
        </table>

        <form method="post">
            <input type="text" name="text" placeholder="Введите диагноз">

            <h3>Выберете симптомы для этого жиагноза</h3>
            {{#symptomes}}
                <div id="s">
                    <input id='{{id}}a' type="range" name="dov" min="0" max="1" step="0.1" value="0" disabled>
                    <input id='{{id}}b' type="range" name="ned" min="0" max="1" step="0.1" value="0" disabled>
                    <input id='{{id}}' type="checkbox" name="list" onclick="agree({{id}})" value={{id}} >
                </div>
            {{symptome}}
            <br>
            {{/symptomes}}

            <button type="submit">Добавить</button>
        </form>
    </div>


    <div id="sidebar">
        <form method="post">
            Удалить запись:
            <input type="text" name="sia" placeholder="id">
            <button type="submit">Удалить</button>
        </form>

        <table border="1">
            <h2>Симптномы:</h2>
            {{#symptomes}}
            <tr>
                <td><b>{{id}}</b></td>
                <td><span>{{symptome}}</span></td>
            </tr>
            {{/symptomes}}
        </table>
        <form method="post">
            <input type="text" name="sym" placeholder="Введите симптом">
            <button type="submit">Добавить</button>
        </form>
    </div>
    </div>

    <div id="footer">
        <a href="index">Вернуться на главную</a>
    </div>
</div>
</body>
</html>