<html>
<header>
    <title>Answer</title>
    <link rel="stylesheet" type="text/css" href="/style/result_style.css">
</header>
<body>

<div id="recommend">
Ошибка!
    <br>
    {{ error }}
</div>

<div id="content">

</div>

<div id="footer">
    <a href="index">Вернуться на главную</a>
</div>
</body>
</html>