<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        html {
            background-color: #b0d996;
        }

        ul {
            border-bottom:2px solid #000000;
            margin-left:0;
            padding:4px 0;
        }

        li {
            display: inline;
        }

        a {
            text-decoration:none;
            margin-left:3px;
            border:1px solid #000000;
            padding: 3px 4px;
            border-bottom:0;
            background:#CEDEFF;
        }

    </style>

</head>
<body>

<ul>
    <li><a href="test">Пройти тестирование</a></li>
    <li><a href="enter">Добавление информации</a></li>
</ul>

</body>
</html>