<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <style>
        html {
            background-color: #b0d996;
        }
    </style>

</head>
<body>
<div>
    <h3 align="center">Главная страница</h3>
    <a href="test">Пройти тестирование</a>
    <br>
    <a href="enter">Добавление информации</a>
</div>

</body>
</html>