<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="/style/index_style.css">

</head>
<body>

<div id="wrapper">
    <div id="header">
        <h1 align="center">SMART DIAGNOSTING</h1>
    </div>
    <div id="content">
        <ul>
            <li><a href="test">Пройти тестирование</a></li>
            <li><a href="enter">Добавление информации</a></li>
        </ul>
    </div>
    <div id="footer">
        2019
    </div>
</div>

</body>
</html>