<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">

</head>
<body>

<form method="post">
    <table border="1">
        <h3>Выберете беспокоящие вас симптомы</h3>
        {{#symptoms}}
        <input type="checkbox" name={{symptome}}>
        {{symptome}}
        <br>
        {{/symptoms}}
    </table>

    <button type="submit">Отметил</button>
</form>

<footer>
    <a href="index">Вернуться на главную</a>
</footer>
</body>
</html>